    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
          <div class="col-lg-4">
            <div class="pp">
              <img class="noborder" src="img/File_Facebook_logo.png" height="150">
              <div class="past-exp-text">Machine Learning Engineer Intern</div>
              <div class="past-exp-text">Ads Ranking Team, Facebook UK</div>
              <div class="past-exp-text">Jun. 2018 - Aug 2018</div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="pp">
              <img class="noborder" src="img/Utoronto_coa.svg.png" height="150">
              <div class="past-exp-text">CS PhD</div>
              <div class="past-exp-text">University of Toronto</div>
              <div class="past-exp-text">Sep. 2016 - Now</div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="pp">
              <img class="noborder" src="img/tripnotice.jpg" height="150">
              <div class="past-exp-text">Software Engineer</div>
              <div class="past-exp-text">TripNotice Inc.</div>
              <div class="past-exp-text">Jan. 2014 - Mar. 2015</div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
              <br/><br/>
              <br>
              <div class="row">
                <!-- <div class="col-lg-4">
                  <img src="img/profile.jpg" class="img-responsive">
                </div> -->
                <div class="col-lg-12 lead">
                  <p style="font-size: 18px">I am studying PhD at Computer Science at University of Toronto with professor <a href="http://goldenberglab.ca/">Anna Goldenberg</a> and collaborated with <a href="www.cs.toronto.edu/~duvenaud/">David Duvenaud</a>. My interests are on issues of machine learning when they deploy to the real world. My main research works are in the Interpretability and Reinforcement Learning applied to healthcare. I am also broadly interested in Causal Inference and Time-series Modeling.</p>
                </div>
              </div>
              <br>
            </div>
        </div>
    </section>
