<section id="publication">

<div class="content-section-a">
    <div class="container">

        <h2 class="pub_title">Publications</h2>
  <div id="pubs">

    <div class="pubwrap">
      <div class="row">
        <!-- <div class="col-md-6">
          <div class="pubimg">
            <img src="./Yen-Chen Lin Website_files/adversarial_attack_RL.gif">
          </div>
        </div> -->
        <div class="col-md-12">
          <div class="pub">
            <div class="pubt">Dropout Feature Ranking for Deep Learning Models</div>
            <div class="pubd">Deep neural networks are a promising technology achieving state-of-the-art results in biological and healthcare domains. Unfortunately, DNNs are notorious for their non-interpretability. Clinicians are averse to black boxes and thus interpretability is paramount to broadly adopting this technology. We aim to close this gap by proposing a new general feature ranking method for deep learning. We show that our method outperforms LASSO, Elastic Net, Deep Feature Selection and various heuristics on a simulated dataset. We also compare our method in a multivariate clinical time-series dataset and demonstrate our ranking outperforms all methods in Recurrent Neural Network setting. Finally, we apply our feature ranking to the Variational Autoencoder recently proposed to predict drug response in cell lines and show that it identifies meaningful genes corresponding to the drug response.</div>
            <div class="puba"><u>Chun-Hao Chang</u>, Ladislav Rampasek, Anna Goldenberg</div>
            <div class="pubv">2017 NIPS MLCB workshop</div>
            <div class="publ">
              <ul>
              	<!-- <li>Coming soon</li> -->
                <li><a href="documents/DFR.pdf">Paper</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pubwrap">
      <div class="row">
        <!-- <div class="col-md-6">
          <div class="pubimg">
            <img src="./Yen-Chen Lin Website_files/adversarial_attack_RL.gif">
          </div>
        </div> -->
        <div class="col-md-12">
          <div class="pub">
            <div class="pubt">Interpreting Neural Network Classifications with Variational Dropout Saliency Masks</div>
            <div class="pubd">Deep neural networks are effective at classification across many domains, but they
are also opaque in the sense of being seen as “black boxes” even when the training
data and model architecture are available. Saliency maps are a tool for interpreting
neural network classification that, given a particular input example and output class,
score the relevance of each input dimension to the resulting classification. Recent
work defined salient inputs as those yielding the greatest change in the classification
output when replaced with some reference value; this value is chosen heuristically
(e.g., background color, Gaussian noise, or blurred version of the input) and thus
biases the saliency computation. We generalize this approach by extending the
notions of ‘replacement’ and ‘reference’: first we cast the input replacement in
a dropout framework and use variational inference to learn a distribution over
dropped-out (replaced) inputs from the data; then we express the reference value
as the output of a generative model, which can be learned from data to mitigate
the effect of the reference value biasing the saliency map. We then propose a new
model-agnostic saliency map that uses both extensions in tandem. We show the
resulting saliency maps for a digit classification network pre-trained on MNIST and
compare our results against other methods both qualitatively and quantitatively.
</div>
            <div class="puba"><u>Chun-Hao Chang</u>, Elliot Creager, Anna Goldenberg, David Duvenaud</div>
            <div class="pubv"> 2017 NIPS Interpreting, Explaining and Visualizing Deep Learning Workshop</div>
            <div class="publ">
              <ul>
              	<!-- <li>Coming soon</li> -->
                <li><a href="documents/interpreting-neural-network-camera-ready.pdf">Paper</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  <hr class="soft">

  <div class="container">
    <h2 class="pub_title">Work Experiences</h2>
    <div class="row">

      <div class="col-md-1">
        <div class="pp">
          <a href="">
            <img src="" class="img-circle imgb">
          </a>
          <div class="ppt"></div>
          <div class="ppd">
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="pp">
          <a href="https://tripnotice.com/">
            <img src="img/tripnotice.jpg" class="img-circle imgb">
          </a>
          <div class="ppt">Software Engineer Intern</div>
          <div class="ppd">
            I interned from 2015 to 2016 in startup company <a href="https://tripnotice.com/">Tripnotice</a>. I built Android app with 500 active daily user, 30,000 downloads and rated as top 5 best travel app in local Taipei newspaper. 
			Besides, I improved hotel recommendation system and constructed hotel booking API with Amadeus.
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="pp">
          <a href="http://www.forestapp.cc/">
            <img src="img/NTU.png" class="img-circle imgb">
          </a>
          <div class="ppt">Android Developer</div>
          <div class="ppd">
            During my Bachelor, I interned in NTU to develop app for the school course system. I implemented a cross-platform app for student courses information in NTU and obtained 4.3/5 review score and 1,000 downloads in Google Play.
          </div>
        </div>
      </div>

      <div class="col-md-1">
        <div class="pp">
          <a href="">
            <img src="" class="img-circle imgb">
          </a>
          <div class="ppt"></div>
          <div class="ppd">
          </div>
        </div>
      </div>

    </div>

  <hr class="soft">
  <div class="container ordered-list">
      <h2 class="pub_title">Other Stuffs</h2>
      <div class="ppt">Teaching</div>
      <div class="ppd" style="font-size: 16pt">
        I was a TA for the following courses:
      </div>
      <ul>
        <li><div class="ppd">
          <a href="http://www.teach.cs.toronto.edu/~csc309h/fall/index.html">Web Programming</a>, Fall 2017
        </div></li>
        <li><div class="ppd">
          <a href="http://www.teach.cs.toronto.edu/~csc108h/summer/">Introduction to Computer Programming</a>, Summer 2017
        </div></li>
        <li><div class="ppd">
          <a href="http://www.cs.toronto.edu/~rgrosse/courses/csc321_2017/">Introduction to Neural Networks</a>, Winter 2017
        </div></li>
      </ul>

      <div class="ppt">Miscellaneous Slides</div>
      <div class="ppd" style="font-size: 16pt">
        Presentation I made before:
      </div>
      <ul>
        <li><div class="ppd">
          <a href="https://docs.google.com/presentation/d/1rxgfbxpi-VtJCuB2E5kreFjT0qSiwrxfSBrWStLGmwk/edit?usp=sharing">"Scalable Joint Models for Reliable Uncertainty-Aware Event Prediction"</a> by Hossein Soleimani, James Hensman, Suchi Saria
        </div></li>
        <li><div class="ppd">
          <a href="https://drive.google.com/file/d/0B-d9idOJBwD7aDVEWHJHaGo4NTA/view?usp=sharing">Variational Inference for Sparse GP</a>
        </div></li>
        <li><div class="ppd">
          Causal Inference Seminar <a href="https://docs.google.com/presentation/d/1XefufCkp2e4klb13HKmjCAQ_wMfeuxREn10Q4LLOEjk/edit?usp=sharing">"Estimating individual treatment effect: generalization bounds and algorithms"</a> by Uri Shalit, Fredrik D. Johansson, David Sontag
        </div></li>
      </ul>

      <div class="ppt">Interests</div>
      <div class="ppd">
        I have played volleyball in my undergrad and our graduate volleyball intramural games.
      </div>
    </div>
<!--   <div class="container">
    <h2 class="pub_title">Projects</h2>
    <div class="row">

      
      <div class="col-md-2">
          <img src="img/tripnotice.jpg" class="img-circle imgb" height="150pt">
      </div>

      <div class="col-md-10">
        <div class="ppt">Interpret and discover gene networks during mouse puberty</div>
        <div class="ppd">
          
          Built Deep Kalman Filter to model time-series gene expression during mouse puberty.
          Analyzed and explained the latent state expression related to genes.
          Implemented a time-varying Markov network model to discover gene pathways.
        </div>
      </div>

    </div>
  </div>
 -->
  </div>
</div>

</section>



