<section id="publication">

<div class="content-section-a">
    <div class="container">

        <h2 class="pub_title">Selected Publications</h2>
  <div id="pubs">

    <div class="pubwrap">
        <div class="row">
          <div class="col-md-4">
            <div class="pubimg">
              <img src="./img/fido_fig.png">
            </div>
          </div>
          <div class="col-md-8">
            <div class="pub">
              <div class="pubt">Explaining Image Classifiers by Counterfactual Generation</div>
              <div class="pubd"></div>
              <div class="puba"><u>Chun-Hao Chang</u>, Elliot Creager, Anna Goldenberg, David Duvenaud</div>
              <div class="pubv">2019 ICLR Poster</div>
              <div class="publ">
                <ul>
                  <li><a href="https://arxiv.org/abs/1807.08024">Paper</a></li>
                  <li><a href="https://github.com/zzzace2000/FIDO-saliency">Code</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="pubwrap">
        <div class="row">
          <div class="col-md-4">
            <div class="pubimg">
              <img src="./img/dqn_pipeline.png">
            </div>
          </div>
          <div class="col-md-8">
            <div class="pub">
              <div class="pubt">Dynamic Measurement Scheduling for Adverse Event Forecasting using Deep RL</div>
              <div class="pubd"></div>
              <div class="puba"><u>Chun-Hao Chang*</u>, Mingjie Mai*, Anna Goldenberg</div>
              <div class="pubv">2018 NIPS MLHC Workshop; Submitted to 2019 ICML</div>
              <div class="publ">
                <ul>
                  <li><a href="https://arxiv.org/abs/1901.09699">Paper</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="pubwrap">
      <div class="row">
        <div class="col-md-4">
          <div class="pubimg">
            <img src="./img/DFR_img.png">
          </div>
        </div>
        <div class="col-md-8">
          <div class="pub">
            <div class="pubt">Dropout Feature Ranking for Deep Learning Models</div>
            <div class="puba"><u>Chun-Hao Chang</u>, Ladislav Rampasek, Anna Goldenberg</div>
            <div class="pubv">2017 NIPS MLCB workshop</div>
            <div class="publ">
              <ul>
                <li><a href="https://arxiv.org/abs/1712.08645">Paper</a></li>
                <li><a href="https://github.com/zzzace2000/dropout-feature-ranking">Code</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  <hr class="soft">

  <div class="container">
    <h2 class="pub_title">Work Experiences</h2>
    <div class="row">

      <!-- <div class="col-md-1">
        <div class="pp">
          <a href="">
            <img src="" class="img-circle imgb">
          </a>
          <div class="ppt"></div>
          <div class="ppd">
          </div>
        </div>
      </div> -->

      <div class="col-md-4">
        <div class="pp">
          <img src="img/File_Facebook_logo.png" class="img-circle imgb">
          <div class="ppt">Software Engineer Intern</div>
          <div class="ppd">
            I interned in the Ads Ranking team of Facebook UK during 2018 summer. 
            My main work is to model counterfactual inference of the ads data to measure lift effects of ads exposure.
            I investigated various causal approach such as nearest neighbor, causal trees and multi-task learning.
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="pp">
          <a href="https://tripnotice.com/">
            <img src="img/tripnotice.jpg" class="img-circle imgb" style="height: 256px">
          </a>
          <div class="ppt">Software Engineer</div>
          <div class="ppd">
            I interned from 2015 to 2016 in startup company <a href="https://tripnotice.com/">Tripnotice</a>. I built Android app with 500 active daily user, 30,000 downloads and rated as top 5 best travel app in local Taipei newspaper. 
            Besides, I improved hotel recommendation system and constructed hotel booking API with Amadeus.
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="pp">
          <a href="http://www.forestapp.cc/">
            <img src="img/NTU.png" class="img-circle imgb" style="height: 256px">
          </a>
          <div class="ppt">Android Developer</div>
          <div class="ppd">
            During my Bachelor, I interned in NTU to develop app for the school course system. I implemented a cross-platform app for student courses information in NTU and obtained 4.3/5 review score and 1,000 downloads in Google Play.
          </div>
        </div>
      </div>

      <div class="col-md-1">
        <div class="pp">
          <a href="">
            <img src="" class="img-circle imgb">
          </a>
          <div class="ppt"></div>
          <div class="ppd">
          </div>
        </div>
      </div>
    </div>

  <hr class="soft">
  <div class="container ordered-list">
      <h2 class="pub_title">Other Stuffs</h2>
      <div class="ppt">Teaching</div>
      <div class="ppd" style="font-size: 16pt">
        I was a TA for the following courses:
      </div>
      <ul>
        <li><div class="ppd">
          <a href="http://www.teach.cs.toronto.edu/~csc309h/fall/index.html">Web Programming</a>, Fall 2017
        </div></li>
        <li><div class="ppd">
          <a href="http://www.teach.cs.toronto.edu/~csc108h/summer/">Introduction to Computer Programming</a>, Summer 2017
        </div></li>
        <li><div class="ppd">
          <a href="http://www.cs.toronto.edu/~rgrosse/courses/csc321_2017/">Introduction to Neural Networks</a>, Winter 2017
        </div></li>
      </ul>

      <div class="ppt">Miscellaneous Slides</div>
      <div class="ppd" style="font-size: 16pt">
        Presentation I made before:
      </div>
      <ul>
        <li><div class="ppd">
          <a href="https://docs.google.com/presentation/d/1rxgfbxpi-VtJCuB2E5kreFjT0qSiwrxfSBrWStLGmwk/edit?usp=sharing">"Scalable Joint Models for Reliable Uncertainty-Aware Event Prediction"</a> by Hossein Soleimani, James Hensman, Suchi Saria
        </div></li>
        <li><div class="ppd">
          <a href="https://drive.google.com/file/d/0B-d9idOJBwD7aDVEWHJHaGo4NTA/view?usp=sharing">Variational Inference for Sparse GP</a>
        </div></li>
        <li><div class="ppd">
          Causal Inference Seminar <a href="https://docs.google.com/presentation/d/1XefufCkp2e4klb13HKmjCAQ_wMfeuxREn10Q4LLOEjk/edit?usp=sharing">"Estimating individual treatment effect: generalization bounds and algorithms"</a> by Uri Shalit, Fredrik D. Johansson, David Sontag
        </div></li>
      </ul>

      <div class="ppt">Interests</div>
      <div class="ppd">
        I have played volleyball in my undergrad and our graduate volleyball intramural games.
      </div>
    </div>
<!--   <div class="container">
    <h2 class="pub_title">Projects</h2>
    <div class="row">

      
      <div class="col-md-2">
          <img src="img/tripnotice.jpg" class="img-circle imgb" height="150pt">
      </div>

      <div class="col-md-10">
        <div class="ppt">Interpret and discover gene networks during mouse puberty</div>
        <div class="ppd">
          
          Built Deep Kalman Filter to model time-series gene expression during mouse puberty.
          Analyzed and explained the latent state expression related to genes.
          Implemented a time-varying Markov network model to discover gene pathways.
        </div>
      </div>

    </div>
  </div>
 -->
  </div>
</div>

</section>



